<div class="md:max-w-5xl m-auto">
  <h1 class="font-medium text-3xl mb-2">Users</h1>

  <table id="users-datatable" class="w-full" data-source="<%= users_path(format: :json) %>" data-turbolinks="false">
    <thead>
      <tr>
        <th>Email</th>
        <th>Employee</th>
        <th>Admin</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <br>
</div>

<script>
  users_table = $('#users-datatable').DataTable({
    processing: true,
    stateSave: true,
    pageLength: 50,
    serverSide: true,
    ajax: {
      url: $('#users-datatable').data('source')
    },
    order: [[0, 'asc']],
    columns: [
      { data: "email" },
      { data: "employee" },
      { data: "admin" },
      { data: "edit", orderable: false, width: "1%" },
      { data: "destroy", orderable: false, width: "1%" },
    ],
  });
</script>
