<%# <div class="font-sans bg-white h-screen flex flex-col w-full">
  <div class="h-screen bg-gradient-to-r from-green-400 to-blue-500">
    <div class="px-4 py-48">
     <div class="relative w-full text-center">
       <h1 class="pulsing-text">
        Your TailwindCSS setup is working if this pulses...
       </h1>
    </div>
   </div>
  </div>
</div> %>

<div class="max-w-5xl m-auto">
  
  <% if signed_in? %>
    <h3 class="font-medium text-3xl">Welcome Back!</h3>
  <% end %>

  <div class="mt-5 max-w-5xl m-auto grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-5 gap-4">
      <%= render Item.all %>
  </div>
</div>