<div class="md:max-w-5xl m-auto">
  <div class="flex mt-5 mb-3">
    <h1 class="font-medium text-3xl ">Items</h1>
    <%= link_to 'New Item', new_item_path, class: "btn ml-auto" %>
  </div>

  <table id="items-datatable" class="w-full" data-source="<%= items_path(format: :json) %>" data-turbolinks="false">
    <thead>
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Active</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
</div>

<script>
  items_table = $('#items-datatable').DataTable({
    processing: true,
    stateSave: true,
    serverSide: true,
    pageLength: 50,
    ajax: {
      url: $('#items-datatable').data('source')
    },
    order: [[0, 'asc']],
    columns: [
      { data: "name" },
      { data: "brand" },
      { data: "price" },
      { data: "quantity" },
      { data: "active" },
      { data: "edit", orderable: false, width: "1%" },
      { data: "destroy", orderable: false, width: "1%" },
    ],
  });
</script>