<!-- <div class='flex flex-row justify-end px-2'>
  <button class="text-gray-700 group font-sm rounded text-sm px-2 py-1 text-center inline-flex items-center"
    type="button" data-dropdown-toggle="dropdown">
    Settings
    heroicon "chevron-down", variant: :outline, options: { class: "h-3 hover:cursor-pointer ml-1" }
  </button>

  <div
    class="hidden bg-gradient-to-br text-gray-700 from-indigo-200 to-pink-200 z-50 list-none divide-y divide-gray-100 rounded shadow my-4"
    id="dropdown">
    <div class="px-4 py-3">
      <span class="block text-sm">Stephen Charette</span>
      <span class="block text-sm font-medium truncate">charettesa19@gmail.com</span>
    </div>
    <ul class="py-1" aria-labelledby="dropdown">
      <li>
        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Users</a>
      </li>
      <li>
        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Items</a>
      </li>
      <li>
        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Payments</a>
      </li>
      <li>
        <a href="#" class="text-sm hover:bg-gray-100 text-gray-700 block px-4 py-2">Sign out</a>
      </li>
    </ul>
  </div>
</div> -->

<div class='flex flex-row md:justify-end px-3 text-xs justify-between'>
  <a href="#" class="hover:bg-gradient-to-br from-indigo-100 to-pink-100 text-gray-700 block px-4 py-2">Users</a>
  <a href="#" class="hover:bg-gradient-to-br from-indigo-100 to-pink-100 text-gray-700 block px-4 py-2">Inventory</a>
  <a href="#" class="hover:bg-gradient-to-br from-indigo-100 to-pink-100 text-gray-700 block px-4 py-2">Payments</a>
</div>
<hr>
